<p id="notice"><%= notice %></p>
<h1 class="pg-title"><u>Upload Reports</u></h1>
<div class="tbl-wrapper">
  <table class="crm-tbl">
    <thead>
      <tr>
        <th>Name</th>
        <th>Manager</th>
        <th>Status</th>
        <th>Terms</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.manager %></td>
          <td><%= company.status %></td>
          <td><%= company.terms %></td>
          <td><%= link_to 'Show', company %></td>
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="tbl-wrapper">
  <h3>Import Reports</h3>
  <%= form_tag import_companies_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Reports", class: "tbl-submit"%>
  <% end %>
  <%= link_to 'New Report', new_company_path %>
</div>
