<h1 class="pg-title"><u>Admin Dashboard</u></h1>
<br>
<div>
  <%= link_to "User Management", admin_url, class: "crm-btn" %>
</div>
<div>
  <%= link_to "Views Analytics", "/analytics", class: "crm-btn" %>
</div>
<div>
  <%= link_to "Logs", logs_url, class: "crm-btn" %>
</div>
<div>
  <%= link_to "Upload Reports", companies_url, class: "crm-btn" %>
</div>
<div>
  <%= link_to "Send Emails", posts_url, class: "crm-btn" %>
</div>
<div>
  <%= link_to "CRM users", "/crmusers", class: "crm-btn" %>
</div>
